<div>
    <div class="panel" ng-controller="userCtrl">
        <div class="panel-heading">
            Fill in Company information to start
        </div>
        <form role="form">
        	<div class="form-group">
                <input type="text" class="form-control" ng-model="name" placeholder="Company Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="start_date" placeholder="Founded Date YYYY/MM/DD"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="legal_person" placeholder="Legal Person"/>
            </div>
            <div class="form-group">
      			<input type="text" class="form-control" ng-model="asset" placeholder="Asset"/>
    		</div>
    		<div class="form-group">
                <input type="text" class="form-control" ng-model="SIN" placeholder="Legal Person SIN"/>
            </div>

    		<div class="alert alert-danger" ng-show="formInfo.error">{{formInfo.error}}</div>
    			<button
    			    ng-click="register()"
        			onclick="location.href='#/account'">
      				Register<i ng-show="formInfo.loggingIn" class="fa fa-spinner fa-spin"></i>
    			</button>
    		<input type="submit" style="display:none" ng-click="login()"/>
  		</form>
    </div>
</div>
