<div ng-controller="LoanDetailCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Loan Summary</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
            <thead>
            <tr>
              <th>name</th>
              <th class="numeric">value</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="loanGeneral in loanGeneralList">
              <td data-title="Name">{{loanGeneral.name}}</td>
              <td data-title="Value">{{loanGeneral.value}}</td>
              <td data-title="Action"><button>Edit</button></td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
    </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Business Partner</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                  <th>Role</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanBusiness in loanBusinessPartnerList">
                  <td data-title="Role">{{loanBusiness.role}}</td>
                  <td data-title="Name">{{loanBusiness.name}}</td>
                  <td data-title="Address">{{loanBusiness.address}}</td>
                  <td data-title="Action"><a href='#/partnerDetail'>View</a> <button>Delete</button></td>
                </tr>
                </tbody>

              </table>
              <button class="btn btn-primary pull-right">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Subject Properity</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                  <th>Owner</th>
                  <th>Address</th>
                  <th>Properity value</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanSubjectProperity in loanSubjectProperityList">
                  <td data-title="Role">{{loanSubjectProperity.role}}</td>
                  <td data-title="Name">{{loanSubjectProperity.name}}</td>
                  <td data-title="Address">{{loanSubjectProperity.address}}</td>
                  <td data-title="Action"><a href='#/properityDetail'>View</a> <button>Delete</button></td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-primary pull-right">Add</button>
            </div>
          </div>
        </div>
      </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Condition</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Required</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanCondition in loanConditionList">
                  <td data-title="Name">{{loanCondition.name}}</td>
                  <td data-title="Status">{{loanCondition.status}}</td>
                  <td data-title="Required">{{loanCondition.required}}</td>
                  <td data-title="Action"><a href='#/conditionDetail'>View</a> <button>Delete</button></td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-primary pull-right">Add</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Related Fund</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                  <th>Lender</th>
                  <th>Wtatus</th>
                  <th>Funds Amount</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanRelatedFund in loanRelatedFundList">
                  <td data-title="Lender">{{loanRelatedFund.lender}}</td>
                  <td data-title="Status">{{loanRelatedFund.status}}</td>
                  <td data-title="FundsAmount">{{loanRelatedFund.fundsAmount}}</td>
                  <td data-title="Action"><button>Edit</button> <button>Delete</button></td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-primary pull-right">Add</button>
            </div>
          </div>

        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Scheduled Payment</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>To</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanScheduledPayment in loanScheduledPaymentList">
                  <td data-title="Date">{{loanScheduledPayment.Date}}</td>
                  <td data-title="Amount">{{loanScheduledPayment.Amount}}</td>
                  <td data-title="To">{{loanScheduledPayment.To}}</td>
                  <td data-title="Status">{{loanScheduledPayment.Status}}</td>
                  <td data-title="Action"><button>Edit</button> <button>Delete</button></td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-primary pull-right">Add</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Attachment</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                  <th>File Name</th>
                  <th>File Type</th>
                  <th>Description</th>
                  <th>Created Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanAttachment in loanAttachmentList">
                  <td data-title="FileName">{{loanAttachment.FileName}}</td>
                  <td data-title="FileType">{{loanAttachment.FileType}}</td>
                  <td data-title="Description">{{loanAttachment.Description}}</td>
                  <td data-title="CreatedDate">{{loanAttachment.CreatedDate}}</td>
                  <td data-title="Action"><button>Edit</button> <button>Delete</button></td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-primary pull-right">Add</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
          <div class="no-more-tables">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                  <th>Content</th>
                  <th>Author</th>
                  <th>Created Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanComments in loanCommentsList">
                  <td data-title="FileName">{{loanComments.Content}}</td>
                  <td data-title="FileType">{{loanComments.Author}}</td>
                  <td data-title="Description">{{loanComments.CreatedDate}}</td>
                  <td data-title="Action"><button>Edit</button> <button>Delete</button></td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-primary pull-right">Add</button>
            </div>
          </div>

        </div>
      </div>
    </div>


</div>
